{% load staticfiles %}
{% load sections %}
<!DOCTYPE HTML>
<!-- BEGIN html -->
<html lang = "es">
<!-- BEGIN head -->
<head>

{% block head %}
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Favicon -->
{% endblock head %}
<title>{% block title %} Letras Medio {% endblock %} </title>
<!-- Stylesheets -->
{% block head_css %}
<link rel="shortcut icon" href="https://scontent.feoh4-2.fna.fbcdn.net/v/t1.0-9/35403105_1818260618469742_4695542450268143616_n.png?_nc_cat=0&oh=368f220f635ac696e221b90399940dee&oe=5BAB436F">
<link type="text/css" rel="stylesheet" href="{% static "base/css/reset.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/portus.min.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "base/css/font-awesome.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/themify-icons.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/weather-icons.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/bootstrap.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/owl.carousel.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/main-stylesheet.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/ot-lightbox.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/shortcodes.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/responsive.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="{% static "base/css/dat-menu.min.css" %}"/>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=latin,latin-ext" />
<link type="text/css" rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat:400,700' />

{% endblock head_css %}


</head>
<!-- BEGIN body -->

<body class="woocommerce-page woocommerce ot-menu-will-follow">
    <!-- BEGIN .boxed -->
    <div class="boxed">
        <!-- BEGIN #header -->
        <div id="header">
            <!-- BEGIN .breaking-news -->
            <div class="breaking-news">
                <!-- BEGIN .wrapper -->
                <div class="wrapper">
                    <strong class="br-title">Reciente</strong>
                    <div class="br-article-list">
                        <div class="br-article-list-inner">
                            <div class="br-article">
                                <a href="">Bienvenido<strong>al nuevo sitio oficial de Letras Medio Digital</strong></a>
                            </div>
                            <div class="br-article">
                                <a href="">Bienvenido<strong>al nuevo sitio oficial de Letras Medio Digital</strong></a>
                            </div>
                        </div>
                    </div>
                    <!-- END .wrapper -->
                </div>
                <!-- END .breaking-news -->
            </div>
            <!-- BEGIN #top-menu -->
            <nav id="top-menu">

                <!-- BEGIN .wrapper -->
                <div class="wrapper">

                    <div class="top-panel-weather right">
                        <span class="w-info"></span>
                        <strong>Itagüí, Antioquia</strong>
                        <span class="w-stats"><i class="wi wi-day-hail"></i>+16&deg;C</span>
                    </div>

                    <ul class="load-responsive" rel="Header Menu">
                        <li><a href="{% url 'index' %}"><i class="fa fa-home"></i></a></li>
                        <!-- <<li><a href="blog.html">Blog page</a></li>
							<li><a href="read-later.html">Read later feature</a></li>-->
                        <li><a href="">Quienes Somos</a></li>
                        <li><a href="">Portafolio de Servicios</a></li>
                        <li><a href="">Contactenos</a></li>

                    </ul>
                    <!-- END .wrapper -->
                </div>

                <!-- END #top-menu -->
            </nav>

            <!-- BEGIN .wrapper -->
            <div class="wrapper">

                <div class="header-panels">

                    <!-- BEGIN .header-logo -->
                    <div class="header-logo">

                        <a href=""><img src="{% static "images/L1.png"%}" alt="" width="200" height="62"></a>


                        <!-- END .header-logo -->
                    </div>

                    <!-- BEGIN .header-socials -->
                    <div class="header-socials">

                        <a href="https://www.facebook.com/LetrasMedio/"><i
                                class="fa fa-facebook"></i><span>700</span></a>
                        <a href="https://www.instagram.com/letrasmedio/"><i
                                class="fa fa-instagram"></i><span>1.98k</span></a>
                        <a href="https://twitter.com/letrasmedio"><i class="fa fa-twitter"></i><span>159</span></a>


                        <!-- END .header-socials -->
                    </div>

                    <!-- BEGIN .header-pob -->
                    <div class="header-pob">
                        <a href="#" target="_blank"><img src="{% static "images/L3.png" %}" alt="" /></a>
                        <!-- END .header-pob -->
                    </div>

                </div>

                <!-- END .wrapper -->
            </div>


            <!-- BEGIN #main-menu -->
            <nav id="main-menu">

                <a href="#dat-menu" class="dat-menu-button"><i class="fa fa-bars"></i>Show Menu</a>
                <div class="main-menu-placeholder">

                    <!-- BEGIN .wrapper -->
                    <div class="wrapper">

                        <div class="search-nav right">
                            <form action="#">
                                <input type="text" value="" placeholder="Search" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <ul class="load-responsive" rel="Main Menu">
                        
                            <li><a href="{% url 'section' 1 %}">Colombia</a></li>
                            <li><a href="{% url 'section' 2 %}">Antioquia</a></li>
                            <li><a href="{% url 'section' 3 %}">Medellín</a></li>
                            <li><a href="">Deportes</a></li>
                            <li><a href="">Cultura</a></li>
                            <li><a href="">Entretenimiento</a></li>
                            <li><a href="">Virales</a></li>
                            <!--<li><a href="store.html">Cultural</a></li>-->
                            <!--<li><a href="archive.html">Entrevistas</a></li>-->


                        </ul>

                        <!-- END .wrapper -->
                    </div>

                </div>

                <!-- END #main-menu -->
            </nav>


            <!-- END #header -->
        </div>


        {% block content %}

        {% endblock content %}

        <!-- BEGIN #footer -->
        <div id="footer">

            <div id="footer-widgets">
                <div class="wrapper">

                    <div class="paragraph-row">
                        <div class="column12">
                            <!-- BEGIN .widget -->
                            <div class="widget">

                                <!-- 	<div class="do-space do-space-bg">
										<a href="#" target="_blank"><img src="images/pob-1.jpg" alt="" /></a>
										<strong>Sponsored advertisement</strong>
									</div>

									END .widget -->
                            </div>
                        </div>
                    </div>

                    <div class="paragraph">

                        <div class="widget" align="center">

                            <h3 style="width: 40%">Letras Medio Digital</h3>
                            <div style="width: 20%">

                                <p>Letras Medio Digital es una empresa legalmente constituida que tiene como fin brindar
                                    información noticiosa de carácter local, nacional e internacional haciendo uso de
                                    medios digitales como la web y las redes sociales.</p>
                                <p></p>
                                <div class="row">
                                    <div class="short-icon-text">
                                        <i class="fa fa-phone" style="float: none"></i>
                                        +57 3103776037
                                    </div>
                                </div>
                                <div class="short-icon-text">
                                    <i class="fa fa-location-arrow" style="float: none"></i> Itagüí, Antioquia

                                </div>
                                <div class="short-icon-text">
                                    <i class="fa fa-envelope" style="float: none"></i>
                                    contactenos@letramedio.co
                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>

            <div id="footer-info">
                <div class="wrapper">
                    <ul align="center">
                        <p>&copy; <strong>Desarrollado e implementado por <a href="https://github.com/alejandroduquec">Aduquec</a> </p>
                    </ul>

                </div>
            </div>

            <!-- END #footer -->
        </div>

        <!-- END .boxed -->
    </div>
    


    <!-- Scripts -->
    <script type="text/javascript" src="{% static "base/jscript/jquery-latest.min.js"%}"></script>
    <script type="text/javascript" src="{% static "base/jscript/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/theia-sticky-sidebar.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/parallax.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/modernizr.custom.50878.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/iscroll.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/dat-menu.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/theme-scripts.min.js" %}"></script>
    <script type="text/javascript" src="{% static "base/jscript/ot-lightbox.min.js" %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script type="text/javascript" src="{% static "base/jscript/sweetalert.min.js" %}"></script> -->
   
    <script>
        // Animation time of revieling and hiding menu (defaut = 400)
        var _datMenuAnim = 400;
        // Animation effect for now it is just 1 (defaut = "effect-1")
        var _datMenuEffect = "effect-2";
        // Submenu dropdown animation (defaut = true)
        var _datMenuSublist = true;
        // If fixed header is showing (defaut = true)
        var _datMenuHeader = true;
        // Header Title
        var _datMenuHeaderTitle = 'Portus';
        // If search is showing in header (defaut = true)
        var _datMenuSearch = true;
        // Search icon (FontAwesome) in header (defaut = fa-search)
        var _datMenuCustomS = "fa-search";
        // Menu icon (FontAwesome) in header (defaut = fa-bars)
        var _datMenuCustomM = "fa-bars";
    </script>

		<script>
			jQuery('.portus-article-slider-min').owlCarousel({
				loop: true,
				margin: 22,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: true
					},
					600:{
						items: 3,
						nav: false
					},
					1000:{
						items: 5,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.portus-video-slider-min').owlCarousel({
				loop: true,
				margin: 22,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: true
					},
					600:{
						items: 2,
						nav: false
					},
					1000:{
						items: 4,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.portus-article-slider-big').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				responsive:{
					0:{
						items: 1,
						nav: false
					},
					650:{
						items: 2,
						nav: false
					},
					1000:{
						items: 2,
						nav: true,
						loop: false
					}
				}
			});

			jQuery('.article-slider-full-small').owlCarousel({
				loop: true,
				margin: 20,
				responsiveClass: true,
				items: 1,
				nav: true,
				loop: false
			});

			jQuery('.w-gallery-slider .item-header').owlCarousel({
				loop: true,
				margin: 20,
				responsiveClass: true,
				items: 1,
				nav: true,
				loop: false
			});
        </script>
        {% load sweetify %}
        {% sweetify %}
        
        {% block scripts %}
        {% endblock%}
        
		<!-- END body -->
	</body>
	<!-- END html -->
	</html>