<ul class="load-responsive" rel="Main Menu">
<li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Principal</a></li>

{% for section in sections   %}
{% if section.name == 'Opinión' %}
<li style="background-color: {{section.color_background|default_if_none:"transparent"}};">
    <a href="{% url 'opinion'  %}"
    style="color:{{section.color_text|default_if_none:"white"}}">
    {{section.name}}
</a>
</li>
{%elif section.name == 'Podcast' %}
<li style="background-color: {{section.color_background|default_if_none:"transparent"}};">
    <a href="{% url 'podcasts'  %}"
    style="color:{{section.color_text|default_if_none:"white"}}">
    {{section.name}}
</a>
</li>

{%elif section.is_active%}
<li style="background-color: {{section.color_background|default_if_none:"transparent"}};">
    <a href="{% url 'section' section.pk %}"
    style="color:{{section.color_text|default_if_none:"white"}}">
    {{section.name}}
</a>
</li>
{% endif %}
{% endfor %}
 </ul>