
{% extends 'base/base.html' %}

{% block content %}
<div id="content">


    
    <!-- BEGIN .wrapper -->
    <div class="wrapper">

        <!-- BEGIN .portus-main-content-panel -->
        <div class="paragraph-row portus-main-content-panel">
            <div class="column12">
                <div class="portus-main-content-block">

                    <div class="portus-content-block">
                        <div class="portus-content-title">
                            <h2>{{column.title}}</h2>
                            <a href="{% url 'opinion' %}" class="right set-this-dotted">Regresar</a>
                        </div>
                        <a href="{% url 'perfil' column.user.pk %}"><i class="po po-head"></i>Por: @{{column.user}}</a>
                        <hr>
                       
                        <div class="portus-main-article-block">
                           {{column.text|safe }}
                        </div>
                    </div>

                </div>
            </div>
        <!-- ENd .portus-main-content-panel -->
        </div>

    <!-- END .wrapper -->
    </div>
    
<!-- BEGIN #content -->
</div>
{% endblock content %}