{% extends 'base/base.html' %}

{% block meta %}
{% endblock meta %}
{% block content %}
<div id="content">
    <!-- BEGIN #portus-read-later -->
    <!-- BEGIN .wrapper -->
    <div class="wrapper">
        <!-- BEGIN .portus-main-content-panel -->
        <div class="paragraph-row portus-main-content-panel">
            <div class="column12">
                <div class="portus-article-slider-big owl-carousel">
                    {% if top1_notice %}
                    <div class="item">
                        <a href="{% url 'publication' top1_notice.pk %}" class="item-photo">
                            <img src="{{top1_notice.principal_picture}}" height="390" width="600" style="height: 390px; width: 600px " />
                            <span class="item-content">
                                <strong class="item-article-category" data-ot-css="color: #f3d826;"></strong>
                                <strong class="item-article-title">{{top1_notice.title}}</strong>
                                <span class="item-article-text">{{top1_notice.lead}}</span>
                                <span class="item-meta">
                                    <!-- <span><i class="po po-head"></i>{{top1_notice.user}}</span> -->
                                    <span ><i class="fa fa-calendar-o"></i>{{top1_notice.created|date:"d M"}}</span>
                                    <span><i class="fa fa-star"></i>{{top1_notice.section}}</span>
                                    <span><i class="fa fa-user"></i>{{top1_notice.user.username}}</span>
                                </span>
                            </span>
                        </a>
                    </div>
                    {% endif %}

                    {% if top2_notices %}

                    <div class="item item-small">
                          
                        {%for notice in top2_notices|slice:":4" %}

                        <a href="{% url 'publication' notice.pk %}" class="item-photo">
                            <img src="{{notice.principal_picture}}" alt="" height="195" width="300" style="height: 195px; width: 300px "  />
                            <span class="item-content">
                                <strong class="item-article-title">{{notice.title}}</strong>
                                <span class="item-meta">
                                    <span><i class="po po-clock"></i>{{notice.created|date:"d M"}}</span>
                                    <span><i class="fa fa-user"></i>{{top1_notice.user.username}}</span>

                                </span>
                            </span>
                        </a>
                        {%endfor%}

                    </div>
                    {% endif %}

                </div>
            </div>
            <!-- ENd .portus-main-content-panel -->
        </div>

        <!-- BEGIN .portus-main-content-panel -->
        <!--CORONAVIRUS -->
        <div class="paragraph-row portus-main-content-panel">
						<div class="column12">
                            <hr>
                            <h2 class="text-center md-5">Coronavirus Hoy</h2>
                            <hr>
							<div class="block-category-list">
                                <h3 class="item" style="color: #CB4335">Numero de casos {{total_casos}}</h3>
                                <h3 class="item" style="color: #CB4335">Casos activos {{casos_activos}}</h3>
                                <h3 class="item" style="color: #1ABC9C">Recuperados  {{recuperados}}</h3>
                                <h3 class="item" style="color: #CB4335">Muertes {{muertes}}</h3>

							</div>
						</div>
        </div>
        <div class="paragraph-row portus-main-content-panel">
            <div class="column12">
                <div class="portus-main-content-s-block">
                    <!-- BEGIN .portus-main-content -->
                    <div class="portus-main-content portus-main-content-s-4">
                        <div class="theiaStickySidebar">
                            <!-- BEGIN .portus-content-block -->
                            <div class="portus-content-block">
                                <div class="portus-content-title">
                                    <h2>Últimas Publicaciones</h2>
                                </div>
                                <div class="article-grid-default">
                                    <div class="article-grid-layout-3">
                                        {%if notices %}
                                        {%for notice in notices|slice:":9" %}
                                        <div class="item">
                                            <div class="item-header item-header-hover">
                                                <div class="item-header-hover-buttons">
                                                    <span data-hover-text-me="Leer más"><a
                                                            href="{% url 'publication' notice.pk %}"
                                                            class="fa fa-search"></a></span>
                                                </div>
                                                <a href="{% url 'publication' notice.pk %}">
                                                    <img src="{{notice.principal_picture}}" height="146px" width="260px"  alt="" />
                                                    </a>
                                       
                                            </div>
                                            <div class="item-content">
                                                <h3><a href="{% url 'publication' notice.pk %}">{{notice.title}}</a>
                                                </h3>
                                                <div class="item-meta">

                                                    <span class="item-meta-i">
                                                        <i
                                                            class="fa fa-calendar-o"></i>{{notice.created|date:"d M"}}</span>
                                                    <span class="item-meta-i">
                                                        <i class="fa fa-star"></i>{{notice.section}}</span>
                                                    <span><i class="fa fa-user"></i>{{top1_notice.user.username}}</span>



                                                </div>
                                                <p>{{notice.lead}}</p>
                                                <div class="item-helper-a">
                                                    <a href="{% url 'publication' notice.pk %}"
                                                        class="button-alt button-alt-frame"><i class="fa fa-search"></i>Ver
                                                        mas</a>

                                                </div>
                                            </div>
                                        </div>
                                        {%endfor%}
                                        {%endif%}

                                    </div>

                                </div>
                                <!-- BEGIN .portus-content-block -->
                            </div>

                        </div>
                        <!-- END .portus-main-content -->
                    </div>
                    <aside class="sidebar portus-sidebar-large">
                        <div class="widget">
                                <h3>Trinos <a href="https://twitter.com/letrasmedio">@letrasmedio</a></h3>
                            <a class="twitter-timeline" data-tweet-limit="2"
                                href="https://twitter.com/LetrasMedio?ref_src=twsrc%5Etfw"><h3>TweetsLetrasMedio</h3></a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        <!-- BEGIN .widget -->
                        <div class="widget">

                        <h3>Suscríbete a Letras</h3>
                        <div class="widget-subscribe">
                            <div>
                                <p></p>
                            </div>
                            <div class="alert-message alert-green">
                                <strong>Mantente actualizado </strong>
                            </div>



                            <form action="{% url 'index' %}" method="POST"">
                                {% csrf_token %}
                                <label class="label-input">
                                    <span>Nombre</span>
                                    {{form.name}}
                                </label>
                                <label class="label-input">
                                    <span>Correo</span>
                                    {{form.email}}
                                    
                                </label>
                                <input type="submit" class="button" value="Enviar" />
                            </form>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <!-- ENd .portus-main-content-panel -->
    </div>

    <!-- BEGIN .portus-main-content-panel -->


    <!-- BEGIN .portus-main-content-panel -->



    <!-- END .wrapper -->
</div>

<!-- BEGIN #content -->
</div>
{% endblock%}



