
{% extends 'base/base.html' %}

{% block head_css %}
<style type="text/css">
	.roundpic {
		margin-top: 25px;
		height: 150px;
		width: 150px;
		border: solid 2px ;
		border-radius: 100%;
	}
	</style>
{% endblock head_css %}
{% block content %}


<div id="content">


	<!-- BEGIN .wrapper -->
	<div class="wrapper">
	
			<!-- <div class="paragraph-row portus-main-content-panel">
				<div class="column12">
					<div class="block-category-list">
						<a href="category.html" class="item" onmouseover="Columnas(this)"  ><i class="ti ti-thought"></i><strong>Columnas</strong></a>
						<a onmouseover="NoColumnas(this)"  href="category.html" class="item"><i class="ti ti-comments-smiley"></i><strong>Caricaturas</strong></a>
						<a onmouseover="NoColumnas(this)" href="category.html" class="item"><i class="ti ti-notepad"></i><strong>Editorial</strong></a>
						<a onmouseover="NoColumnas(this)" href="category.html" class="item"><i class="ti ti-notepad"></i><strong>Columnistas Invitados</strong></a>

					</div>
				</div>
			
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 " id="columnas_id" style="display: none" onmouseover="Columnas(this)"  onmouseout="NoColumnas(this)" >
				<div class="paragraph-row portus-main-content-panel">
					<div class="column12">
						<div class="block-category-list">
							<a href="category.html" class="item"><i class="ti ti-calendar"></i><strong>Martes</strong></a>
							<a href="category.html" class="item"><i class="ti ti-comments"></i><strong>Jueves</strong></a>
							<a href="category.html" class="item"><i class="ti ti-shine"></i><strong>Domingo</strong></a>


							
						</div>
					</div>
				 
				</div>
			</div>-->

		<!-- BEGIN .portus-main-content-panel -->
		<div class="paragraph-row portus-main-content-panel">

			<div class="column12">

				<div class="portus-main-content-s-block">


					<div class="">
						<div class="theiaStickySidebar">
							<div class="portus-content-block">
								<div class="portus-content-title">
									<h2>Columnas</h2>

                                </div>
                                {% if columns%}
								{%for columns in columns %}
								<div class="col-md-3 col-sm-12 col-xs-12" align="center">
									<img class="center-block roundpic" src="{{columns.image.url}}" />
									<h3 style="padding-top: 5px;padding-bottom: 0px">{{columns.title}}</h3>
									<span style="font-size: 15px">Por: {{columns.user.username}}</span>
									<p class = "text-justify" style="font-size: 16px;padding-top: 0px">{{columns.text | safe | truncatechars:200}}</p>
									<a href="{% url 'column' columns.pk %}" class="button">Ver Columna</a>

								</div>
                                {%endfor%}
                                {% endif %}

							</div>


						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- ENd .portus-main-content-panel -->
	</div>

	<!-- END .wrapper -->
</div>

<!-- BEGIN #content -->
</div>
<script>
	function Columnas(){
		document.getElementById('columnas_id').style.display='block' 
	}
	function NoColumnas(){
		document.getElementById('columnas_id').style.display='none' 
	}
</script>
{% endblock content %}	